@import '../../_variables';
@import '../../_mixin';
.app-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 4.5rem;
  background-color: $footer-color;
}

.footer-faq {
  @include footer-blocks($aside-block-color);
}

.footer-settings {
  @include footer-blocks($hover-color);
}

.svg-footer {
  font-size: 1.6rem;
  line-height: 1.63;
  color: $white;
}

.footer-faq:hover,
.footer-settings:hover {
  .svg-footer {
    @include animation(rotation, 1s, none, ease-in-out);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}