@import url(./variables.css);
.app-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 4.5rem;
  background-color: var(--color-footer);
}

.footer-faq {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 4.5rem;
  background-color: var(--color-aside-block);
}

.svg-footer {
  font-size: 1.6rem;
  line-height: 1.63;
  color: var(--white);
}

.footer-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 4.5rem;
  background-color: var(--color-hover);
}

.footer-settings:hover .svg-footer {
  animation-name: rotation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.footer-faq:hover .svg-footer {
  animation-name: rotation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}