@import url(./variables.css);
.app-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4.5rem;
  background-color: var(--color-header);
}

.header-controls {
  display: inline-block;
  padding: 1.9rem 0 1.6rem 2rem;
}

.dot-red {
  height: 1rem;
  width: 1rem;
  margin-right: 0.4rem;
  background-color: var(--color-dot-red);
}

.dot-yellow {
  height: 1rem;
  width: 1rem;
  margin-right: 0.4rem;
  background-color: var(--color-dot-yellow);
}

.dot-green {
  height: 1rem;
  width: 1rem;
  margin-right: 0.4rem;
  background-color: var(--color-dot-green);
}

.dot-black-small {
  height: 0.4rem;
  width: 0.4rem;
  background-color: var(--color-aside);
  cursor: default;
}

.svg-logo {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.2rem;
  font-size: 1.3rem;
  line-height: 2;
  color: var(--color-aside-nav-link);
}

.title {
  display: inline-block;
  width: 6.5rem;
  font-size: 1.2rem;
  line-height: 2.17;
  color: var(--color-aside-nav-link);
}

.header-info {
  display: flex;
  justify-content: space-between;
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16.9rem;
  height: 1.1rem;
  margin-top: 1.8rem;
  margin-right: 1.8rem;
  font-size: 1.3rem;
  line-height: 2;
  color: var(--color-aside-nav-link);
}

@media screen and (max-width: 530px) {
  .app-title,
  .header-contacts {
    display: none;
  }
}

.user-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.5rem;
  background-color: var(--color-hover);
}

.user-name {
  width: 5.5rem;
  height: 0.9rem;
  margin: 0 1.6rem 1.2rem 1.1rem;
  font-size: 1.3rem;
  line-height: 2;
  color: var(--white);
}

.img-user-avatar {
  width: 3rem;
  height: 3rem;
  margin-left: 1.2rem;
  border: 0.3rem solid var(--white);
  border-radius: 50%;
}

.svg-dropdown-menu {
  margin-right: 2.1rem;
  margin-top: 0.5rem;
  font-size: 1.3rem;
  color: var(--white);
}

.dropdown-menu {
  display: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  width: 16.4rem;
  background-color: var(--color-dropdown-menu);
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
}

.dropdown-link {
  display: block;
  padding: 1.2rem 1.6rem;
  color: black;
  text-decoration: none;
}

.dropdown-link:hover {
  animation-name: dropdown-menu-hover-effects;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background-color: var(--color-dropdown-menu-hover);
}

@keyframes dropdown-menu-hover-effects {
  from {
    background-color: var(--color-dropdown-menu);
  }
  to {
    background-color: var(--color-dropdown-menu-hover);
  }
}

.dropdown-animation {
  display: block;
  animation-name: dropdown-opacity-to-zero;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes dropdown-opacity-to-zero {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.dropdown-menu:checked~.dropdown-content {
  display: block;
  animation-name: dropdown-opacity-to-one;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes dropdown-opacity-to-one {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.arrow-rotation {
  animation-name: arrow-rotation-down;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes arrow-rotation-down {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.dropdown-menu:checked~.dropbtn .svg-dropdown-menu {
  animation-name: arrow-rotation-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes arrow-rotation-up {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}