@import url(./variables.css);
.dot-red-small {
  background-color: var(--color-dot-small-red);
}

.dot-yellow-small {
  background-color: var(--color-dot-small-yellow);
}

.dot-blue-small {
  background-color: var(--color-dot-small-blue);
}

.dot-purple-small {
  background-color: var(--color-dot-small-purple);
}

.svg-icons {
  margin-left: 2.1rem;
  margin-right: 1.2rem;
  font-size: 1.3rem;
  line-height: 2;
}

.app-main {
  display: flex;
}

.app-aside {
  width: 20rem;
  background-color: var(--color-aside);
  transition: width .25s linear;
}

.aside-add-book {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  border-bottom: 0.1rem solid var(--color-aside-border-bottom);
  background-color: var(--color-aside-block);
}

.aside-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 24rem;
  margin-top: 0.4rem;
  border-top: 0.1rem solid var(--color-aside-border-top);
  border-bottom: 0.1rem solid var(--color-aside-border-bottom);
  background-color: var(--color-aside-block);
}

.aside-block-toggle {
  display: none;
}

.aside-toggle-checkbox {
  display: none;
}

.aside-toggle-checkbox:checked+.app-aside .aside-toggle-lable .svg-aside-toggle {
  animation-name: arrow-toggle-open;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes arrow-toggle-open {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.aside-toggle-checkbox:checked+.app-aside {
  width: 20rem;
}

.aside-toggle-checkbox:checked+.app-aside .nav-blocks {
  display: flex;
  justify-content: flex-start;
  width: 20rem;
  padding: 0.7rem 0;
}

.aside-toggle-checkbox:checked+.app-aside .btn-add {
  width: 15rem;
}

.app-main .aside-toggle-checkbox:checked+.app-aside .svg-icons {
  margin-left: 2.1rem;
  margin-right: 1.2rem;
}

.app-main .aside-toggle-checkbox:checked+.app-aside .dot-small {
  margin-left: 2.5rem;
  margin-right: 1.2rem;
}

.aside-toggle-checkbox:checked+.app-aside .aside-msg,
.aside-toggle-checkbox:checked+.app-aside .aside-block-text {
  display: inline;
}

.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 4.4rem;
  border: 0.2rem solid var(--color-btn-add);
  border-radius: 0.4rem;
  outline: 0;
  background-color: var(--color-btn-add);
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.86;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-add:hover {
  background-color: var(--white);
  color: var(--color-btn-add);
}

.svg-plus {
  width: 1.3rem;
  margin-right: 1.9rem;
  font-size: 1.6rem;
  line-height: 1.63;
}

.nav-blocks {
  width: 18.5rem;
  padding: 0.7rem;
  font-size: 1.3rem;
  line-height: 2;
  color: var(--color-aside-nav-link);
  cursor: pointer;
}

.nav-blocks-hover:hover {
  animation-name: hover-effects;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes hover-effects {
  from {
    background-color: var(--color-aside-block);
    color: var(--color-aside-nav-link);
  }
  to {
    background-color: var(--color-hover);
    color: var(--white);
  }
}

.aside-block-text {
  display: inline;
}

@media screen and (max-width: 730px) {
  .svg-plus {
    margin: 0;
  }
  .btn-text {
    display: none;
  }
}

@media screen and (max-width: 725px) {
  .app-aside {
    width: 5rem;
  }
  .svg-aside-toggle {
    animation-name: arrow-toggle-close;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .nav-blocks {
    display: flex;
    justify-content: center;
    width: 5rem;
    padding: 0.7rem 0;
  }
  .btn-add {
    width: 4rem;
  }
  .dot-small,
  .svg-icons {
    margin: 0;
  }
  .aside-block-toggle {
    display: flex;
    height: 5rem;
    color: var(--color-aside-nav-link);
  }
  .svg-history {
    margin-bottom: 1.5rem;
  }
  .aside-msg,
  .aside-block-text {
    display: none;
  }
}

@keyframes arrow-toggle-close {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  text-decoration: none;
  color: var(--color-aside-nav-link);
}

.nav-blocks:hover .nav-link {
  color: var(--white);
}

.aside-readlist {
  height: 18rem;
}

.aside-notifications-block {
  justify-content: flex-start;
  height: 36.5rem;
  padding-top: 2.5rem;
}

.aside-notification {
  display: flex;
  align-items: flex-start;
  padding: 0;
}

.aside-msg {
  width: 12.9rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--color-aside-msg);
}

.text-highlight {
  color: var(--color-text-highlight);
}

.main-section {
  width: 100%;
}

.main-header {
  display: inline-block;
  width: 100%;
  height: 7rem;
  background-color: var(--color-main-header);
  font-size: 2.2rem;
  line-height: 1.18;
  color: var(--color-main-header-title);
}

.main-header-text {
  padding-left: 2.3rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.9rem;
  border-top: 0.1rem solid var(--color-main-nav);
  background-color: var(--color-main-header);
}

@media screen and (max-width: 725px) {
  .main-nav {
    display: block;
  }
}

.aside-nav-list {
  padding: 0;
  list-style-type: none;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 33.5rem;
  height: 4.9rem;
  margin: 0 0 0 2rem;
  padding: 0;
  list-style-type: none;
}

.active-item {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--color-main-header-txt);
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
}

.active-item:hover {
  border-radius: 1rem;
  background-color: var(--color-text-highlight);
  color: var(--white);
}

.search-input {
  width: 40rem;
  height: 3.2rem;
  margin-right: 2rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  border-radius: 1.6rem;
  border: solid 0.1rem rgba(140, 151, 178, 0.4);
  outline: 0;
  background-color: var(--white);
  background-image: url('../../images/search.png');
  background-position: 95%;
  background-repeat: no-repeat;
  font-size: 1.3rem;
  color: var(--color-main-header-txt);
  transition: width .25s linear;
}

@media screen and (max-width: 1078px) {
  .search-input {
    width: 15rem;
  }
}

@media screen and (max-width: 725px) {
  .main-header-text {
    padding: 0;
    text-align: center;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .search-form {
    display: flex;
    justify-content: center;
    border-top: 0.1rem solid var(--color-main-nav);
    background-color: var(--color-main-header);
  }
  .search-input {
    width: 90%;
    min-width: 15rem;
    margin: 1.5rem;
  }
}

.search-input::placeholder {
  font-size: 1.3rem;
  color: var(--color-main-header-txt);
}

.article-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

@media screen and (max-width: 725px) {
  .article-blocks {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 1315px) {
  .article-blocks {
    justify-content: space-around;
  }
}

@media screen and (max-width: 530px) {
  .article-blocks .book-desc {
    margin-left: 0;
  }
}

.book-desc {
  margin-top: 3rem;
  margin-left: 2rem;
}

.book-img {
  border-radius: 0.5rem;
}

.book-title {
  margin: 1.5rem 0 0 0;
  font-size: 1.6rem;
  line-height: 1.63;
  color: var(--color-main-header-title);
}

.book-author {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  line-height: 2.17;
  color: var(--color-aside-msg);
}