@import url(./variables.css);
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.rating {
  border: none;
  float: left;
  margin: 0;
  padding: 0;
}

.rating>input {
  display: none;
}

.rating>label:before {
  margin: 0.2rem;
  font-size: 1.4rem;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating>.half:before {
  content: "\f089";
  position: absolute;
}

.rating>label {
  color: var(--white);
  float: right;
}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
  color: var(--color-star);
}

.rating>input:checked+label:hover,
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
  color: var(--color-star-hover);
}