$main-font:'Roboto', sans-serif;
$dots-color: ( 
    dot-red: #e76847, 
    dot-yellow: #fabf00, 
    dot-green: #52bea6, 
    dot-small-red: #e64c66, 
    dot-small-yellow: #ffab00, 
    dot-small-blue: #00bfdd, 
    dot-small-purple: #7874cf
);
$dropdown-menu: (
    menu-color: #f9f9f9,
    menu-hover-color: #dddddd    
);
$star-colors: (
    star-color: #FFD700,
    star-hover-color: #ffab00,
    star-empty-color: #ddd
);
$header-color: #2f364a;
$aside-menu-color: #19202e;
$aside-block-color: #1f2637;
$aside-border-top-color: #78829d25;
$aside-border-bottom-color: #141824;
$btn-add-color: #f2795a;
$aside-nav-link-color: #78829d;
$aside-msg-color: #4f5a6f;
$text-highlight-color: #677b92;
$hover-color: #15a4fa;
$main-header-color: #eef1f7;
$main-header-title-color: #444c63;
$main-nav-color: #dadfea;
$main-header-txt-color: #8c97b2;
$search-input-border-color: rgba(140, 151, 178, 0.4);
$footer-color: #181e2c;
$white: #fff;
