@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.pointer {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.app-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 4.5rem;
  background-color: #2f364a;
}

.header-controls {
  display: inline-block;
  padding: 1.9rem 0 1.6rem 2rem;
}

.dot-red {
  display: inline-block;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  margin-left: 0;
  margin-right: 0.4rem;
  background-color: #e76847;
}

.dot-yellow {
  display: inline-block;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  margin-left: 0;
  margin-right: 0.4rem;
  background-color: #fabf00;
}

.dot-green {
  display: inline-block;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  margin-left: 0;
  margin-right: 0.4rem;
  background-color: #52bea6;
}

.dot-black-small {
  display: inline-block;
  border-radius: 50%;
  height: 0.4rem;
  width: 0.4rem;
  margin-left: 0;
  margin-right: 0;
  background-color: #19202e;
}

.svg-logo {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.2rem;
  font-size: 1.3rem;
  line-height: 2;
  color: #78829d;
}

.title {
  display: inline-block;
  width: 6.5rem;
  font-size: 1.2rem;
  line-height: 2.17;
  color: #78829d;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16.9rem;
  height: 1.1rem;
  margin-top: 1.8rem;
  margin-right: 1.8rem;
  font-size: 1.3rem;
  line-height: 2;
  color: #78829d;
}

@media screen and (max-width: 530px) {
  .app-title,
  .header-contacts {
    display: none;
  }
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.5rem;
  background-color: #15a4fa;
}

.user-name {
  width: 5.5rem;
  height: 0.9rem;
  margin: 0 1.6rem 1.2rem 1.1rem;
  font-size: 1.3rem;
  line-height: 2;
  color: #fff;
}

.img-user-avatar {
  width: 3rem;
  height: 3rem;
  margin-left: 1.2rem;
  border: 0.3rem solid #fff;
  border-radius: 50%;
}

.svg-dropdown-menu {
  margin-right: 2.1rem;
  margin-top: 0.5rem;
  font-size: 1.3rem;
  color: #fff;
}

.dropdown-menu {
  display: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  width: 16.4rem;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
}

.dropdown-link {
  display: block;
  padding: 1.2rem 1.6rem;
  color: black;
  text-decoration: none;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.dropdown-link:hover {
  background-color: #dddddd;
}

.dropdown-animation {
  display: block;
  -webkit-animation-name: dropdown-opacity-to-zero;
          animation-name: dropdown-opacity-to-zero;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes dropdown-opacity-to-zero {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dropdown-opacity-to-zero {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.dropdown-menu:checked ~ .dropdown-content {
  display: block;
  -webkit-animation-name: dropdown-opacity-to-one;
          animation-name: dropdown-opacity-to-one;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes dropdown-opacity-to-one {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdown-opacity-to-one {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.arrow-rotation {
  -webkit-animation-name: arrow-rotation-down;
          animation-name: arrow-rotation-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes arrow-rotation-down {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes arrow-rotation-down {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.dropdown-menu:checked ~ .dropbtn .svg-dropdown-menu {
  -webkit-animation-name: arrow-rotation-up;
          animation-name: arrow-rotation-up;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes arrow-rotation-up {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes arrow-rotation-up {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.aside-add-book, .aside-block, .btn-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dot-red-small {
  display: inline-block;
  border-radius: 50%;
  height: 0.6rem;
  width: 0.6rem;
  margin-left: 2.5rem;
  margin-right: 1.1rem;
  background-color: #e64c66;
}

.dot-yellow-small {
  display: inline-block;
  border-radius: 50%;
  height: 0.6rem;
  width: 0.6rem;
  margin-left: 2.5rem;
  margin-right: 1.1rem;
  background-color: #ffab00;
}

.dot-blue-small {
  display: inline-block;
  border-radius: 50%;
  height: 0.6rem;
  width: 0.6rem;
  margin-left: 2.5rem;
  margin-right: 1.1rem;
  background-color: #00bfdd;
}

.dot-purple-small {
  display: inline-block;
  border-radius: 50%;
  height: 0.6rem;
  width: 0.6rem;
  margin-left: 2.5rem;
  margin-right: 1.1rem;
  background-color: #7874cf;
}

.svg-icons {
  margin-left: 2.1rem;
  margin-right: 1.2rem;
  font-size: 1.3rem;
  line-height: 2;
}

.app-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-aside {
  width: 20rem;
  background-color: #19202e;
  -webkit-transition: width 0.25s linear;
  transition: width 0.25s linear;
}

.aside-add-book {
  height: 12rem;
  border-bottom: 0.1rem solid #141824;
  background-color: #1f2637;
}

.aside-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 24rem;
  margin-top: 0.4rem;
  border-top: 0.1rem solid #78829d25;
  border-bottom: 0.1rem solid #141824;
  background-color: #1f2637;
}

.aside-block-toggle {
  display: none;
}

.aside-toggle-checkbox {
  display: none;
}

.aside-toggle-checkbox:checked + .app-aside {
  width: 20rem;
}

.aside-toggle-checkbox:checked + .app-aside .nav-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 20rem;
  padding: 0.7rem 0;
}

.aside-toggle-checkbox:checked + .app-aside .btn-add {
  width: 15rem;
}

.app-main .aside-toggle-checkbox:checked + .app-aside .svg-icons {
  margin-left: 2.1rem;
  margin-right: 1.2rem;
}

.app-main .aside-toggle-checkbox:checked + .app-aside .dot-small {
  margin-left: 2.5rem;
  margin-right: 1.2rem;
}

.aside-toggle-checkbox:checked + .app-aside .aside-msg,
.aside-toggle-checkbox:checked + .app-aside .aside-block-text {
  display: inline;
  -webkit-animation-name: text-opacity-to-one;
          animation-name: text-opacity-to-one;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes text-opacity-to-one {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes text-opacity-to-one {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app-main .aside-toggle-checkbox:checked + .app-aside .svg-icons {
  -webkit-animation-name: svg-margin;
          animation-name: svg-margin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes svg-margin {
  from {
    margin: 0;
  }
  to {
    margin-left: 2.1rem;
    margin-right: 1.2rem;
  }
}

@keyframes svg-margin {
  from {
    margin: 0;
  }
  to {
    margin-left: 2.1rem;
    margin-right: 1.2rem;
  }
}

.app-main .aside-toggle-checkbox:checked + .app-aside .dot-small {
  -webkit-animation-name: dot-margin;
          animation-name: dot-margin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes dot-margin {
  from {
    margin: 0;
  }
  to {
    margin-left: 2.5rem;
    margin-right: 1.2rem;
  }
}

@keyframes dot-margin {
  from {
    margin: 0;
  }
  to {
    margin-left: 2.5rem;
    margin-right: 1.2rem;
  }
}

.aside-toggle-checkbox:checked + .app-aside .aside-toggle-lable .svg-aside-toggle {
  -webkit-animation-name: arrow-toggle-open;
          animation-name: arrow-toggle-open;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes arrow-toggle-open {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes arrow-toggle-open {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.btn-add {
  width: 16rem;
  height: 4.4rem;
  border: 0.2rem solid #f2795a;
  border-radius: 0.4rem;
  outline: 0;
  background-color: #f2795a;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.86;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.btn-add:hover {
  background-color: #fff;
  color: #f2795a;
}

.svg-plus {
  width: 1.3rem;
  margin-right: 1.9rem;
  font-size: 1.6rem;
  line-height: 1.63;
}

.nav-blocks {
  width: 18.5rem;
  padding: 0.7rem;
  font-size: 1.3rem;
  line-height: 2;
  color: #78829d;
}

.nav-blocks-hover:hover {
  -webkit-animation-name: hover-effects;
          animation-name: hover-effects;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes hover-effects {
  from {
    background-color: #1f2637;
    color: #78829d;
  }
  to {
    background-color: #15a4fa;
    color: #fff;
  }
}

@keyframes hover-effects {
  from {
    background-color: #1f2637;
    color: #78829d;
  }
  to {
    background-color: #15a4fa;
    color: #fff;
  }
}

.aside-block-text {
  display: inline;
}

@media screen and (max-width: 830px) {
  .btn-text {
    display: none;
  }
  .svg-plus {
    margin: 0;
  }
}

@media screen and (max-width: 740px) {
  .app-aside {
    width: 5rem;
  }
  .svg-aside-toggle {
    -webkit-animation-name: arrow-toggle-close;
            animation-name: arrow-toggle-close;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  .nav-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 5rem;
    padding: 0.7rem 0;
  }
  .btn-add {
    width: 4rem;
  }
  .dot-small,
  .svg-icons {
    margin: 0;
  }
  .aside-block-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 5rem;
    color: #78829d;
  }
  .svg-history {
    margin-bottom: 1.5rem;
  }
  .aside-msg,
  .aside-block-text {
    display: none;
  }
}

@-webkit-keyframes arrow-toggle-close {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes arrow-toggle-close {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.nav-link {
  text-decoration: none;
  color: #78829d;
}

.nav-blocks:hover .nav-link {
  color: #fff;
}

.aside-readlist {
  height: 18rem;
}

.aside-notifications-block {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 36.5rem;
  padding-top: 2.5rem;
}

.aside-notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
}

.aside-msg {
  width: 12.9rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #4f5a6f;
}

.text-highlight {
  color: #677b92;
}

.main-section {
  width: 100%;
}

.main-header {
  display: inline-block;
  width: 100%;
  height: 7rem;
  background-color: #eef1f7;
  font-size: 2.2rem;
  line-height: 1.18;
  color: #444c63;
}

.main-header-text {
  padding-left: 2.3rem;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.9rem;
  border-top: 0.1rem solid #dadfea;
  background-color: #eef1f7;
}

@media screen and (max-width: 725px) {
  .main-nav {
    display: block;
  }
}

.aside-nav-list {
  padding: 0;
  list-style-type: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.5rem;
  height: 4.9rem;
  margin: 0 0 0 2rem;
  padding: 0;
  list-style-type: none;
}

.active-item {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #8c97b2;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.active-item:hover {
  background-color: #677b92;
  color: #fff;
}

.search-input {
  width: 40rem;
  height: 3.2rem;
  margin-right: 2rem;
  padding: 1rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1.6rem;
  border: solid 0.1rem rgba(140, 151, 178, 0.4);
  outline: 0;
  background-color: #fff;
  background-image: url("../../images/search.png");
  background-position: 95%;
  background-repeat: no-repeat;
  font-size: 1.3rem;
  color: #8c97b2;
  -webkit-transition: width 0.25s linear;
  transition: width 0.25s linear;
}

@media screen and (max-width: 1080px) {
  .search-input {
    width: 15rem;
  }
}

@media screen and (max-width: 725px) {
  .main-header-text {
    padding: 0;
    text-align: center;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  .search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 0.1rem solid #dadfea;
    background-color: #eef1f7;
  }
  .search-input {
    width: 90%;
    min-width: 15rem;
    margin: 1.5rem;
  }
}

.search-input::-webkit-input-placeholder {
  font-size: 1.3rem;
  color: #8c97b2;
}

.search-input:-ms-input-placeholder {
  font-size: 1.3rem;
  color: #8c97b2;
}

.search-input::-ms-input-placeholder {
  font-size: 1.3rem;
  color: #8c97b2;
}

.search-input::placeholder {
  font-size: 1.3rem;
  color: #8c97b2;
}

.article-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 2rem;
}

@media screen and (max-width: 725px) {
  .article-blocks {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 1315px) {
  .article-blocks {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 530px) {
  .article-blocks .book-desc {
    margin-left: 0;
  }
}

.book-desc {
  margin-top: 3rem;
  margin-left: 2rem;
}

.book-img {
  border-radius: 0.5rem;
}

.book-title {
  margin: 1.5rem 0 0 0;
  font-size: 1.6rem;
  line-height: 1.63;
  color: #444c63;
}

.book-author {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  line-height: 2.17;
  color: #4f5a6f;
}

.rating {
  border: none;
  float: left;
  margin: 0;
  padding: 0;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 0.2rem;
  font-size: 1.4rem;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #ffab00;
}

.app-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 4.5rem;
  background-color: #181e2c;
}

.footer-faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.5rem;
  height: 4.5rem;
  background-color: #1f2637;
}

.footer-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.5rem;
  height: 4.5rem;
  background-color: #15a4fa;
}

.svg-footer {
  font-size: 1.6rem;
  line-height: 1.63;
  color: #fff;
}

.footer-faq:hover .svg-footer,
.footer-settings:hover .svg-footer {
  -webkit-animation-name: rotation;
          animation-name: rotation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=index.css.map */